@import './main.scss';

.admin{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  h2{
    color: $blue;
  }
}
.admin-header-content{
  background-color: $light;
  @include space('padding', 'all', 4);
  @include space('margin', 'bottom', 4);
  border-radius: $border-radius;
  box-shadow: $shadow-sm;
}
.admin-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input, .select-box{
    @include space('margin', 'right', 3);
    border: $border-slim;
    &:focus{
      border-color: $blue !important;
    }
  }
}
.admin-search-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include space('margin', 'bottom', 5);
}
.admin-content{
  display: flex;
  justify-content: space-between;
}
.admin-knowledges{
  width: 35%;
}
.admin-knowledges-list{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.admin-knowledge{
  width: 90% !important; 
}
.admin-users, .admin-reports{
  width: 30%;
}
.admin-users-list, .admin-reports-list{
  display: flex;
  flex-direction: column;
}
.admin-user-view{
  display: flex;
  align-items: flex-start;
  @include space('margin', 'y', 3);
  img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    @include space('margin', 'right', 3);
  }
}
.admin-report-view{
  display: flex;
  flex-direction: column;
  background-color: $light;
  @include space('margin', 'y', 3);
  @include space('padding', 'all', 3);
  border-radius: $border-radius;
}
.admin-report-view-title{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.admin-report-author{
  @include space('margin', 'y', 3);
  @include space('padding', 'left', 3);
  border-left: 0.2rem solid $blue;
}
.admin-report-knowledge{
  @include space('padding', 'left', 3);
  border-left: 0.2rem solid $pink;
}