$pink: #EF2749;
$pink-soft: rgba($color: $pink, $alpha: 0.2);
$pink-semi-soft: rgba($color: $pink, $alpha: 0.5);
$colorfull-dark: #2F323A;
$colorfull-green: #32C432;
$colorfull-green-light: #00C8B6;
$colorfull-white: #fff;
$colorfull-twitter: #7CC4F8;
$colorfull-blue: #0283FF;
$colorfull-dark-blue: #576CFF;
$colorfull-purple: #886CFF;
$colorfull-yellow: #FEC72C;
$colorfull-orange: #FD7E14;
$colorfull-trans: rgba($color: #f5f5f5, $alpha: 0.5);
$colorfull-blue-soft: rgba($color: $colorfull-blue, $alpha: 0.2);
$colorfull-blue-semi-soft: rgba($color: $pink, $alpha: 0.5);
$blue: #1D80FF;
$green: #0AD9A6;
$twitter: #1DA1F2;
$facebook: #4267B2;
$whatsapp: #00E676;
$light: #F0F2F6;
