@import './colors.scss';
@import './spacing.scss';
@import './ui.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body{

}

a{
  display: flex;
  align-items: center;
}

.cf-black{
  color: black;
}
.cf-blue{
  color: $blue;
}
.cf-green{
  color: $green;
}
.cf-pink{
  color: $pink;
}
.cf-twitter{
  color: $twitter;
}
.cf-facebook{
  color: $facebook;
}
.cf-whatsapp{
  color: $whatsapp;
}
.bold{
  font-weight: bold;
}
.ta-center{
  text-align: center;
}
.td-under{
  text-decoration: underline;
}
.fs-small{
  font-size: 0.9rem;
}
.fs-med{
  font-size: 1.1rem;
}
.select-box, .select-box-head, .navbar, .navbar-nav, .home-header, .create-knowledge,
 .creation-form, .creation-form-buttons, .knowledge-list, .knowledge-list-title, .knowledge,
  .knowledge-header, .knowledge-extra, .knowledge-modal, .knowledge-modal-buttons, .knowledge-author, 
  .knowledge-source, .update-buttons{
  display: flex;
}

.select-box-head, button, .navbar, .navbar-nav, .create-knowledge, .knowledge-list,
 .knowledge-list-title, .knowledge-header, .knowledge-modal, .knowledge-modal-buttons, .knowledge-author,
 .knowledge-source, .update-buttons {
  align-items: center;
}

button, input, textarea,.select-box,.select-box-options, .home-header, .navbar-menu, .knowledge, 
.knowledge-extra, .knowledge-modal {
  border-radius: $border-radius;
}

.select-box{
  position: relative;
  flex-direction: column;
  background: none;
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
  button{
    @include space('padding', 'all', 0);
  }
}
.select-box-head{
  @include space('padding', 'y', 1.5);
  @include space('padding', 'x', 3);
}
.select-box-options{
  z-index: 9999;
  position: absolute;
  background-color: white;
  width: calc(100%);
  margin-top: 2.5rem;
  @include space('padding', 'y', 1.5);
  border: $border-slim;
  button{
    width: 100%;
    @include space('padding', 'y', 2);
    @include space('padding', 'x', 3);
    border-radius: 0;
    &:hover{
      background-color: $blue;
      color: white;
    }
  }
}

h1, h2, h3, h4, h5, h6, p, body{
  margin: 0;
}
body, textarea, input, button{
  font-family: 'Montserrat', sans-serif;
}
button{
  background: none;
  cursor: pointer;
  display: flex;
}
button, input, textarea{
  outline: none;
  border: none;
  @include space('padding', 'y', 1.5);
  @include space('padding', 'x', 4);
  font-size: 1rem;
}
textarea{
  resize: none;
  @include space('padding', 'y', 4);
}
a{
  text-decoration: none;
  color: black;
}
.loading-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    width: 10%;
    animation: loading-page-animation 2s infinite ;
  }
}

@keyframes loading-page-animation{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25
  }
  50% {
    opacity: 0.50
  }
  75% {
    opacity: 0.75
  }
  100% {
    opacity: 1;
  }
}


.container{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @include space('margin', 'bottom', 10);
}
.navbar{
  position: relative;
  justify-content: space-between;
  @include space('padding', 'y', 5);
  a{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    @include space('margin', 'right', 2);
  }
}
.logo{
  color: $blue;
}
.navbar-nav{
}
.nav-mobile{
  display: none;
}
.navbar-menu{
  position: absolute;
  width: 10rem;
  transform: translateX(-5rem);
  @include space('padding', 'y', 3);
  background-color: $light;
  border: $border-slim;
  button{
    border-radius: 0;
    width: 100%;
    font-weight: bold;
    justify-content: space-between;
    svg{
      color: $blue;
    }
    &:hover{
      background-color: $blue;
      color: white !important;
      svg{
        color: white !important;
      }
    }
  }
}
.home-header, .logged-home-header{
  @include space('margin', 'bottom', 8);
}
.home-header{
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include space('padding', 'y', 10);
  h2{
    font-size: 1.25rem;
    font-weight: 700;
  }
  img{
    width: 15%;
    @include space('margin', 'bottom', 5);
  }
  background-color: white;
  box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.05);
}
.login-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include space('padding', 'y', 3);
  button{
    @include space('margin', 'top', 4);
  }
}
.google-login-button{
  color: $blue;
  border: 0.1rem solid $blue;
  border-radius: 2rem;
}
.logged-home-header{
  width: calc(100% - 2rem);
  background-color: white;
  border-radius: $border-radius;
  @include space('padding', 'all', 4);
  box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.05);
}
.logged-home-header-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logged-home-header-title-text{
  display: flex;
  align-items: center;
  img{
    @include space('margin', 'right', 3);
    width: 3rem;
  }
}
.create-knowledge{
  justify-content: center;
  width: calc(100% - 2rem);
  @include space('padding', 'all', 4);
  background: rgba($color: #F0F2F6, $alpha: 0.5);
  border-radius: $border-radius;
}
.create-knowledge, .creation-form{
  flex-direction: column;
}
.creation-form{
  align-items: flex-start;
  width: 100%;
  input, textarea{
    border: 1px solid rgba($color: $blue, $alpha: 0.3);
    @include space('margin', 'y', 3);
    width: calc(100% - 2rem);
    &:focus{
      border-color: $blue;
    }
    &::placeholder{
      font-size: 0.9rem;
    }
  }
  textarea{
    height: 30vh;
  }
  h3{
    color: $blue;
  }
  .error-text{
    color: red;
  }
}
.labels{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include space('margin', 'top', 2);
}
.label{
  font-size: 0.9rem;
  background-color: white;
  box-shadow: $shadow-sm;
  border-radius: 1rem;  
  font-weight: 500;
  @include space('margin', 'right', 2);
  @include space('margin', 'y', 1);
  @include space('padding', 'x', 2);
  @include space('padding', 'y', 1);
}
.creation-form-buttons{
  width: 100%;
  justify-content: center;
  button{
    @include space('margin', 'top', 5);
    @include space('margin', 'right', 5);
    font-weight: bold;
  }
  button:nth-child(1){
    padding-left: 0;
  }
  button:nth-child(2){
    background-color: $blue;
    color: white;
    border-radius: 2rem;
  }
}
.knowledge-list{
  align-items: center;
  flex-direction: column;
  transition: all 1s;
}
.knowledge-list-title{
  @include space('margin', 'bottom', 5);
  button{
    @include space('margin', 'left', 5);
  }
}
.create-button{
  font-weight: 500;
  background-color: $blue;
  color: white;
  border-radius: 1.3rem;
}
.knowledge{
  flex-direction: column;
  align-items: stretch;
  position: relative;
  width: calc(100% - 2rem);
  @include space('margin', 'y', 3);
  @include space('padding', 'all', 4);
  background-color: rgba($color: #F0F2F6, $alpha: 0.3);
  transition: all 1s;
  word-break: break-word;
  hyphens: auto;
  h4{
    font-size: 1.1rem;
  }
  input, textarea{
    border: 1px solid rgba($color: $blue, $alpha: 0.3);
    @include space('margin', 'y', 3);
    width: 95%;
    &:focus{
      border-color: $blue;
    }
    &::placeholder{
      font-size: 0.9rem;
    }
  }
  textarea{
    height: 20vh;
  }
}
.knowledge-header{
  justify-content: space-between;
  position: relative;
}
.knowledge-extra{
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #F0F2F6;
  color: white;
  transform: translateY(50%) translateX(-1.5em);
  right: 0;
  transition: all 1s;
  @include space('padding', 'y', 4);
  button{
    border-radius: 0;
    @include space('padding', 'x', 8);
    font-weight: bold;
    &:hover{
      background-color: $blue;
      color: white;
    }
  }
}
.knowledge-modal{
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -0.1rem;
  left: -0.1rem;
  font-weight: bold;
  background-color: rgba($color: #F0F2F6, $alpha: 1)
}
.knowledge-modal-buttons{
  @include space('margin', 'top', 5);
  button:nth-child(2){
    background-color: $blue;
    color: white;
    border-radius: 2rem;
    font-weight: bold;
    @include space('margin', 'left', 3);
  }
}
.knowledge-report-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  top: 0;
  left: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  textarea{
    width: 50%;
    @include space('margin', 'y', 5);
  }
  button{
    color: white;
  }
}
.knowledge-report-textarea{
  height: 10%;
}
.deletion-animate{
  background-color: $pink;
  transform: translateX(-200vw);
  opacity: 0;
  transition: all 2s;
}
.updation-animate{
  color: white;
  opacity: 0.3;
  transform: scale(1.05);
  background-color: rgba($color: $blue, $alpha: 1);
  transition: all 1s;
}
.knowledge-body{
  border-left: 0.15rem solid $blue;
  @include space('padding', 'left', 3);
  @include space('margin', 'y', 3);
  margin-left: 0.60rem;

}
.knowledge-author{
  img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    @include space('margin', 'right', 2);
  }
}
.knowledge-source{
  flex-wrap: wrap;
  margin-left: calc(1em - 0.75rem);
  overflow: hidden;
  @include space('margin', 'y', 2);
}
.labels{
  margin-left: calc(1em - 0.75rem); 
}
.update-buttons{
  align-self: center;
}
.load-more{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.label-page-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  @include space('margin', 'bottom', 5);  
  @include space('padding', 'y', 5);
  box-shadow: $shadow-sm;
  border-radius: $border-radius;
  h2{
    font-size: 1.25rem;
  }
}

.lets-button, .go-down-button{
  position: fixed;
  bottom: 1.5rem;
  right: calc(25%);
  border-radius: 0.5rem;
  @include space('padding', 'y', 3);
  @include space('padding', 'x', 5);
  font-weight: bold;
  transition: all 1s;
  z-index: 9999;
  &:active, &:hover{
    background-color: white;
    color: $blue;
  }
}
.lets-button{
  box-shadow: 0.1rem 0.1rem 0.3rem rgba($color: $blue, $alpha: 0.5) !important;
  background-color: $blue;
  color: white;
}

.go-down-button{
  font-size: 0.9rem;
  background-color: white;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0.1rem 0.1rem 0.8rem rgba($color: #000000, $alpha: 0.2);
  white-space: nowrap;
  @include space('padding', 'y', 2);
}

.label-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include space('margin', 'y', 5);
}
.label-list-content{
  display: flex;
  flex-wrap: wrap;
  @include space('margin', 'y', 3);  
  .label{
    font-weight: 500;
    @include space('padding', 'y', 1.5);
    @include space('padding', 'x', 2.75);
  }
}

@import './responsive.scss';
